*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span{
    background-color: #d8d8ff;
    width: 50px;
    height: 50px;
    border: 5px solid #333;
    border-left: 5px solid #d8d8ff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: turn 1s linear infinite reverse;
    -webkit-animation: turn 1s linear infinite reverse;
}
@keyframes turn {
    to{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
}
}