div{
    background-color:#eeeeee !important;
    width: 400px;
    padding: 10px !important;
    border: none !important;
    margin: 0 auto;
    font-size: 30px !important;
    text-align: center;
    color: #eeeeee !important;
}
div::before{
    content: "Elzero";
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-left: 10px;
    position: absolute;
    z-index: 3;
}
