div{
    width: 400px;
    background-image: url(../../imgs/Screenshot\ 2024-05-03\ 034050.png);
    color: white;
    height: 400px;
    margin: 20px;
    padding: 10px;
}
.assign-2-shape-1{
    background-repeat: no-repeat;
} 
.assign-2-shape-2{
    background-repeat: repeat-y;
}
.assign-2-shape-3{
    background-repeat: repeat-x;
}
