div{
    font-family: sans-serif;
    text-align: center;
    line-height: 4;
    font-weight: 600;
    background-color: #eeeeee;
    padding: 10px;
    margin: 10px auto;
    width: 300px;
    height: 60px;   
}
div:nth-child(2):empty{
    background-color: red;
}