*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.grid {
    padding: 10px;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 20px auto auto 20px ;
    grid-template-rows: 1fr 15px ;
    gap: 10px;
}
.grid div{
    color:#fff;
    background-color: #403f3f;
    padding: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}